<footer>
  CopyRight 2022, created using express, mongoDB, node
  <a href="https://github.com/a-sha0234/food-inventory-app"
    ><img src="githubLogo.png" alt="github logo" width="25px" height="25px"
  /></a>
</footer>
