<nav>
  <ul class="navbar">
    <li><a href="/" id="homeLink">Food Festive </a></li>
    <li><a href="/items" class="link">Shop by item </a></li>
    <li><a href="/categories" class="link">Shop by Category </a></li>
  </ul>
</nav>
