/* css reset */
* {
  padding: 0;
  margin: 0;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

/* end of css reset */

/* navbar css */
.navbar {
  display: flex;
  flex-direction: row;
}

#homeLink {
  font-size: 1.3rem;
  padding: 10px;
}

.link {
  font-size: 1.3rem;
  padding: 10px;
  margin-left: 330px;
}
/* end of navbar css */
