@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* css reset */

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

/* end of css reset */

/* navbar css */
.navbar {
  display: flex;
  flex-direction: row;
  background-color: gainsboro;
  padding: 10px;
}

#homeLink {
  font-size: 1.3rem;
  padding: 10px;
}

.link {
  font-size: 1.3rem;
  padding: 10px;
  margin-left: 330px;
}
/* end of navbar css */

/* index page styligng */

.index-content {
  margin-top: 30%;
  display: flex;
  justify-content: center;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 200px;
  font-size: 2.3rem;
}

#items-button {
  padding: 20px;
  font-size: 1.3rem;
  background-color: #008cba;
  color: white;
  font-weight: bold;
  box-shadow: 5px;
  border: 1px solid darkblue;
  margin-right: 20px;
  border-radius: 10px;
}

#items-button:hover {
  background-color: beige;
  color: black;
}

#category-button {
  padding: 20px;
  font-size: 1.3rem;
  background-color: #008cba;
  color: white;
  font-weight: bold;
  box-shadow: 10px;
  border: 1px solid darkblue;
  border-radius: 10px;
}

#category-button:hover {
  background-color: beige;
  color: black;
}

/* End of index page styligng */

/* start of styling of footer  */
footer {
  position: absolute;
  bottom: 0;
  height: 30px;
  background-color: gainsboro;
  width: 100%;
  text-align: center;
}
/* End of  footer  */

/* Start of createItem.ejs page  */

#createTitle {
  text-align: center;
  margin-top: 5%;
}

.formData {
  /* display: flex;
  flex-direction: column; */
  display: block;
  width: 200px;
  margin: auto;
  line-height: 40px;
  font-size: 1.2rem;
  margin-top: 5%;
}

#dropdown {
  padding: 10px;
  display: block;
}

.formData input {
  display: block;
  font-size: 1.2rem;
}

button {
  padding: 20px;
  margin-top: 10px;
  background-color: #008cba;
  border-radius: 10px;
  color: white;
  border: solid 1px black;
  font-weight: bold;
}

button:hover {
  background-color: beige;
  color: black;
}
/* end of createItem.ejs  page  */

/* start of items.ejs */
.db_items {
  display: inline-block;
  background-color: lightgray;
  border-radius: 10px;
  margin-top: 8%;
  text-align: center;
}

#items_title {
  text-align: center;
  margin-top: 10px;
}
.create_link {
  font-size: 1.2rem;
}
/* end  of items.ejs */

/* Start of foodDetails.ejs */
.detailsTitle {
  text-align: center;
  font-size: 4rem;
}

.details_text {
  font-size: 2.2rem;
  text-align: center;
}

#details_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* end of foodDetails.ejs */
